/* header top */
.header-top {
    background-color: #0C5D69;
}

.contact-offline {
    padding: 12px 0;
}

.contact-offline li {
    list-style: none;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-right: 25px;
    top: 7PX;
    position: relative;
}

.contact-offline li .Icon {
    position: relative;
    left: -6px;
}

.contact-online {
    text-align: right;
    padding: 12px 0;
}

.contact-online a {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 7px;
}
/* navbar */
.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}

.nav ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;

}
.nav li{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
}
.nav li a{
    text-decoration: none;
    color: #fff;
}
.btn{
    display: flex;
    /* margin: 1rem 0; */ 
    justify-content: space-between;
    
}
button{
    align-items: center;
    margin: auto 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #000;
    cursor: pointer;
}